<div class="widget-background widget">
	<h4 class="widget__title">Background Info</h4>
	<div class="widget__content">
		<p><strong><a href="{{ "2013-onward/" | relURL }}">2013 & ONWARD</a></strong></p>
		<ul>
			<li><a href="{{ "england-trip-london-september-21-24-part-1/" | relURL }}">England trip: London (part 1)</a></li>
			<li><a href="{{ "england-trip-london-september-24-27-part-2/" | relURL }}">England trip: London (part 2)</a></li>
			<li><a href="{{ "france-trip-aix-en-provence-july-1-13-2015-part-1/" | relURL }}">France trip: Aix-en-Provence (part 1)</a></li>
			<li><a href="{{ "france-trip-aix-en-provence-july-1-13-2015-part-2/" | relURL }}">France trip: Aix-en-Provence (part 2)</a></li>
			<li><a href="{{ "my-smoothie-recipe/" | relURL }}">My smoothie recipe!</a></li>
			<li><a href="{{ "the-e-mail-update-no-one-wants-to-send-or-receive/" | relURL }}">The e-mail update no one wants to send or receive</a></li>
			<li><a href="{{ "parp-inhibitors/" | relURL }}">PARP inhibitors</a></li>
			<li><a href="{{ "chronomodulated-chemotherapy/" | relURL }}">Chronomodulated chemotherapy</a></li>
			<li><a href="{{ "eribulin-halaven/" | relURL }}">Eribulin (Halaven)</a></li>
			<li><a href="{{ "iv-vitamin-c/" | relURL }}">IV Vitamin C</a></li>
		</ul>

		<p><strong><a href="{{ "2006-2007/" | relURL }}">2006-2007 UPDATES</a></strong></p>
		<ul>
			<li><a href="{{ "ellen-update-73006-aka-way-too-much-information/" | relURL }}">Ellen update 7/30/06</a></li>
			<li><a href="{{ "ellen-update-81806/" | relURL }}">Ellen update 8/18/06</a></li>
			<li><a href="{{ "ellen-update-82706/" | relURL }}">Ellen update 8/27/06</a></li>
			<li><a href="{{ "ellen-update-91106/" | relURL }}">Ellen update 9/11/06</a></li>
			<li><a href="{{ "ellen-update-10306/" | relURL }}">Ellen update 10/3/06</a></li>
			<li><a href="{{ "bibliotherapy-sick/" | relURL }}">bibliotherapy: sick</a></li>
			<li><a href="{{ "bibliotherapy-well/" | relURL }}">bibliotherapy: well</a></li>
		</ul>
	</div>
</div>
