<div class="widget-links widget">
	<h4 class="widget__title">Links</h4>
	<div class="widget__content">
		<ul>
			<li><a href="http://www.curetoday.com/index.cfm/fuseaction/article.show/id/2/article_id/2157" target="_blank">Article on current and experimental treatments for triple-negative BRCA1 cancer</a></li>
			<li><a href="http://www.bcmets.org" target="_blank">BCMets.org--Metastatic Breast Cancer Information and Support</a></li>
			<li><a href="http://blockmd.com" target="_blank">Block Center for Comprehensive Cancer Treatment</a></li>
			<li><a href="http://www.bravebosom.com/brca-mutations-made-simple/" target="_blank">BRCA mutations (a good explanation)</a></li>
			<li><a href="http://www.breastcancer.org/treatment/clinical_trials/phases" target="_blank">Clinical trials</a></li>
			<li><a href="http://www.picturetrail.com/sfx/album/view/24291412" target="_blank">How to tie a head scarf (for bald heads)</a></li>
			<li><a href="https://clinicaltrials.gov/ct2/show/record/NCT01945775" target="_blank">Info on one PARP inhibitor trial</a></li>
			<li><a href="http://smp.businesswire.com/sites/smp.newshq.businesswire.com/files/image/image/2055747_Metastatic_Breast_Cancer__Infographic.jpg" target="_blank">Infographic on metastatic breast cancer</a></li>
			<li><a href="http://www.cancernetwork.com/sabcs-2014/immunotherapy-yields-response-triple-negative-breast-cancer" target="_blank">Interesting phase I trial of Keytruda/pembrolizumab</a></li>
			<li><a href="http://touch.latimes.com/#section/-1/article/p2p-78530461/" target="_blank">LA Times article "How not to say the wrong thing"</a></li>
			<li><a href="http://www.medscape.com/resource/breastcancer" target="_blank">Medscape Breast Cancer news</a></li>
			<li><a href="http://www.sharecancersupport.org/share-new/learn/blog/metastatic_breast_cancer/" target="_blank">SHARE blog about metastatic breast cancer</a></li>
			<li><a href="http://www.sharsheret.org/how-we-help/women-all-ages/living-advanced-breast-cancer" target="_blank">Sharsheret</a></li>
			<li><a href="http://lisabadams.com/2011/03/16/the-binder-what-every-patient-should-have/" target="_blank">Something you can do when you wonder "what can I do to help?"</a></li>
			<li><a href="http://cancerguide.org/median_not_msg.html" target="_blank">Steven Jay Gould on cancer-survival statistics</a></li>
			<li><a href="http://stramcenter.com/services/cancer-care/" target="_blank">The Stram Center for Integrative Medicine</a></li>
		</ul>
	</div>
</div>
